body {
    margin: 0;
    background-color: #98fb98;
}

* {
    box-sizing: border-box;
}

#section {
    height: 100vh;
    position: relative;
}

#container-img {
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.products {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 24%;
    display: inline-block;
    margin-left: 12px;
}

#product-img1 {
    background-image: url("img/product-1.jpg");
    margin-left: 0;
}

#product-img2 {
    background-image: url("img/product-2.jpg");
}

#product-img3 {
    background-image: url("img/product-3.jpg");
}

#product-img4 {
    background-image: url("img/product-4.jpg");
}

.mask {
    background-color: rgba(255, 111, 0, 0);
    height: 100%;
    transition: all 0.4s;
}

.mask:hover {
    background-color: rgba(255, 111, 0, 0.8);
}

.content {
    text-align: center;
    height: 100%;
    position: relative;
}

.content i {
    font-size: 50px;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
    left: 0;
}

.content:hover i {
    color: rgba(255, 255, 255, 1);
}


