body {
    margin: 0;
    background-color: #98fb98;
}

* {
    box-sizing: border-box;
}

#container-img {
    width: 99%;
    margin: auto;
    text-align: center;
    height: 100%;
    margin: 170px auto;
}

.products {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 24%;
    display: inline-block;
    margin-left: 12px;
    margin-top: 20px;
}

#product-img1 {
    background-image: url("img/product-1.jpg");
    margin-left: 0;
}

#product-img2 {
    background-image: url("img/product-2.jpg");
}

#product-img3 {
    background-image: url("img/product-3.jpg");
}

#product-img4 {
    background-image: url("img/product-4.jpg");
}

.mask {
    background-color: #ff6f00;
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
}

.mask:hover {
    opacity: 0.8;
}

.content {
    text-align: center;
    height: 100%;
    position: relative;
}

.content i {
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
    left: 0;
}



